*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    padding: $margin-page;

    @media all and (max-width:768px){
        background-color: rgba(253, 186, 62, 0.849);   
    }
}

main{
    background-color: lightgray;
}

button{
    cursor: pointer;
}

li{
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}

i{
    cursor: pointer;
}