main{
    background-color: lightgray;
    .jumbo{
        background-image: url('../img/bg-painter-home.jpg');
        padding:$margin-page;
        background-position: center;
        background-repeat: no-repeat;
        height: 400px;
        .left-part{
            width: 40%;
            height: 100%;
            display: flex;
            justify-content:center;
            flex-direction: column;
            img{
                width: 250px;
            }
            p{
                margin:20px 0 ;
                font-size: 20px;
            }
            span{
                margin: 20px 0;
                color: rgb(197, 21, 109);
                font-weight: bold;
                font-style: italic;
                label{
                    font-weight: normal;
                }
            }
            button{
                font-size: 16px;
                padding: 10px 25px;
                border: 1px solid black;
                margin-right:20px;
                background-color: black;
                color: white;
                &:last-child{
                    background-color: transparent;
                    color: #000;
                    border-width: 2px;
                }
            }
            
        }
    }
    .paintings{
        .upper-part-painting{
            padding: $margin-page;
            margin-bottom: 50px;
            p{
                text-align: center;
                padding: 30px 0;
                font-size: 30px;
            }
            .paintings-container{
                display: flex;
                .upper-paintings{
                    width: 350px;
                    float: left;
                    margin: 0 auto;
                    background-color: #fff;
                    img{
                        width: 350px;
                        height: 150px;
                    }
                    .text-info{
                        padding: 15px 10px;
                        label{
                            color:rgb(0, 183, 255);
                            font-weight: bold;
                        }
                        span{
                            color: #000;
                            font-weight: bold;
                        }
                        p{
                            font-size: 17px;
                            text-align: left;
                        }
                        a{
                            color: rgb(0, 183, 255);
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    .info-paintings{
        padding: $margin-page;
        height: 900px;
        .info-container{
            float: left;
            width: 50%;
            height: 300px;
            color: #fff;
            img{
                width: 100%;
                height: 300px;
            }
            .img-absolute{
                position: absolute;
                top :50%; 
                left: 50%; 
                transform: translate(-50%, -50%);
                z-index: 2;
            }
            p{
                font-size: 25px;
                margin: 15px 0;
                margin-top: 30px;
            }
            span{
                font-size: 20px;
            }
            button{
                display: block;
                margin: 25px 0;
                padding: 10px 25px;
                outline: none;
                background-color: #fff;
            }
        }
        .pos-rel{
            position: relative;
        }
        #bkg-img{
            background-image: url('../img/wacom-painter.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            // filter: blur(3px);
        }
        .purple-info-container{
            background-color: $color-purple;
            padding: 30px;
        }
        .grey-info-container{
            background-color: $color-grey;
            padding: 30px;
        }
        .blue-info-container{
            background-color: $color-blue;
            padding: 30px;
        }
    }
}