.list{
    padding: $margin-page;
    height: 360px; 
    &__info{
        float: left;
        width: 25%;  
        ul{
            list-style: none;
            margin: 50px 0;
            li{
                padding: 5px 20px;
            }
            .header-list{
                font-weight: bold;
                font-size: 18px;
                padding-bottom: 10px;
                @include color(#000);
                &:hover{
                    cursor:text;
                    text-decoration: none;
                }
            }
        }
    }
}
.copyright{
    padding: $margin-page;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bg-color(rgb(36, 36, 36));
    padding-top: 15px;
    padding-bottom: 15px;
    img{
        height: 50px;
        padding-left: 20px;
    }
    &__info{
        font-size: 14px;
        a{
            margin: 0 10px;
            text-decoration: none;
            @include color(lightgrey);   
        }
        span{
            @include color(#fff);
            margin: 0 10px;
        }
    }
}

@import '_icons-wrapper.scss';