.navbar{
    
    &__top{
        display: flex;
        justify-content: flex-end;
        height: 50px;
        align-items: center;

        select{
            margin-left: 10px;
            padding-right: 8px;
        }
    }

    &__buttons{
        @include bg-color(#000);
        margin: 0 10px;
        @include color(grey);
        font-size: 16px;

        i{
            @include color(rgb(0, 183, 255));
            font-size: 14px;
        }
    }


    &__down{
        display: flex;
        @include color(#FFF);
        padding: 10px;

        img{
            margin-right: 20px;
        }

        ul{
            width: 80%;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
                
                i{
                    @include color(lightgrey);
                    font-size: 14px;
                }
        }
    }
}