.jumbo{
    background-image: url('../img/bg-painter-home.jpg');
    padding:$margin-page;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;

    &__content{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }

    &__button{
        font-size: 16px;
        padding: 10px 25px;
        border: 1px solid black;
        margin-right:20px;
        @include bg-color(#000);
        @include color(#fff);

        &--download{
            @include bg-color(transparent);
            @include color(#000);
            border-width: 2px;
        }
    }

    &__img-painter{
        width: 250px;
    }

    &__text{
        margin:20px 0 ;
        font-size: 20px;
    }

    &__text-offer{
        margin: 20px 0;
        @include color(rgb(197, 21, 109));
        font-weight: bold;
        font-style: italic;

        &--label{
            font-weight: normal;
        }
    }
}