* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  padding: 0 15%;
}

main {
  background-color: lightgray;
}

.navbar__top {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
  color: grey;
}
.navbar__top button {
  background-color: black;
  margin: 0 10px;
  color: grey;
  font-size: 16px;
}
.navbar__top button:hover {
  cursor: pointer;
}
.navbar__top button i {
  color: #00b7ff;
  font-size: 14px;
}
.navbar__top select {
  margin-left: 10px;
  padding-right: 8px;
}
.navbar__down {
  display: flex;
  color: #FFF;
  padding: 10px;
}
.navbar__down img {
  margin-right: 20px;
}
.navbar__down ul {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.navbar__down ul li:hover {
  cursor: pointer;
}
.navbar__down ul li i {
  color: grey;
  font-size: 14px;
}

.jumbo {
  background-image: url("../img/bg-painter-home.jpg");
  padding: 0 15%;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.jumbo__content {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jumbo__content img {
  width: 250px;
}
.jumbo__content p {
  margin: 20px 0;
  font-size: 20px;
}
.jumbo__content span {
  margin: 20px 0;
  color: #c5156d;
  font-weight: bold;
  font-style: italic;
}
.jumbo__content span label {
  font-weight: normal;
}
.jumbo__content button {
  font-size: 16px;
  padding: 10px 25px;
  border: 1px solid black;
  margin-right: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.jumbo__content button:last-child {
  background-color: transparent;
  color: #000;
  border-width: 2px;
}

.paintings {
  padding: 0 15%;
  margin-bottom: 50px;
}
.paintings p {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
}
.paintings__offers {
  display: flex;
}
.paintings__offers--new {
  width: 90%;
  float: left;
  margin: 0 2%;
  background-color: #fff;
}
.paintings__offers--new img {
  width: 100%;
  height: 150px;
}
.paintings__offers--new .text-info {
  padding: 15px 15px;
}
.paintings__offers--new .text-info label {
  color: #00b7ff;
  font-weight: bold;
}
.paintings__offers--new .text-info span {
  color: #000;
  font-weight: bold;
}
.paintings__offers--new .text-info p {
  font-size: 17px;
  text-align: left;
}
.paintings__offers--new .text-info a {
  color: #00b7ff;
  text-decoration: none;
}

.services {
  padding: 0 15%;
  height: 900px;
}
.services__info {
  float: left;
  width: 50%;
  height: 300px;
  color: #fff;
}
.services__info img {
  width: 100%;
  height: 300px;
}
.services__info .img-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.services__info p {
  font-size: 25px;
  margin: 15px 0;
  margin-top: 30px;
}
.services__info span {
  font-size: 20px;
}
.services__info button {
  display: block;
  margin: 25px 0;
  padding: 10px 25px;
  outline: none;
  background-color: #fff;
}
.services .pos-rel {
  position: relative;
}
.services #bkg-img {
  background-image: url("../img/wacom-painter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .purple-info-container {
  background-color: #4b0d7e;
  padding: 30px;
}
.services .grey-info-container {
  background-color: #4d4d4d;
  padding: 30px;
}
.services .blue-info-container {
  background-color: #006ace;
  padding: 30px;
}

.list {
  padding: 0 15%;
  height: 360px;
}
.list__info {
  float: left;
  width: 25%;
}
.list__info ul {
  list-style: none;
  margin: 50px 0;
}
.list__info ul li {
  padding: 5px 20px;
  color: gray;
}
.list__info ul li:hover {
  cursor: pointer;
}
.list__info ul .header-list {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  color: #000;
}
.list__info ul .header-list:hover {
  cursor: text;
}
.list__info--socials {
  font-size: 35px;
  padding-left: 20px;
}
.list__info--socials .fa-instagram-square {
  color: #E85E67;
}
.list__info--socials .fa-instagram-square:hover {
  cursor: pointer;
}
.list__info--socials .fa-facebook-square {
  color: #395693;
}
.list__info--socials .fa-facebook-square:hover {
  cursor: pointer;
}
.list__info--socials .fa-twitter-square {
  color: #1C9CEA;
}
.list__info--socials .fa-twitter-square:hover {
  cursor: pointer;
}
.list__info--socials .fa-youtube-square {
  color: #F60002;
}
.list__info--socials .fa-youtube-square:hover {
  cursor: pointer;
}
.list__info--socials .fa-pinterest-square {
  color: #B7081B;
}
.list__info--socials .fa-pinterest-square:hover {
  cursor: pointer;
}
.list__info--socials .fa-rss-square {
  color: #F6C500;
}
.list__info--socials .fa-rss-square:hover {
  cursor: pointer;
}

.copyright {
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding-top: 15px;
  padding-bottom: 15px;
}
.copyright img {
  height: 50px;
  padding-left: 20px;
}
.copyright__info {
  font-size: 14px;
}
.copyright__info a {
  margin: 0 10px;
  text-decoration: none;
  color: grey;
}
.copyright__info span {
  color: #fff;
  margin: 0 10px;
}

@media all and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
