* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header {
  background-color: #000;
  padding: 0 15%;
}
@media all and (max-width: 768px) {
  header {
    background-color: rgba(253, 186, 62, 0.849);
  }
}

main {
  background-color: lightgray;
}

button {
  cursor: pointer;
}

li {
  cursor: pointer;
}
li:hover {
  text-decoration: underline;
}

i {
  cursor: pointer;
}

.navbar__top {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  align-items: center;
}
.navbar__buttons {
  background-color: #000;
  margin: 0 10px;
  color: grey;
  font-size: 16px;
}
.navbar__buttons--icon {
  color: #00b7ff;
  font-size: 14px;
}
.navbar__select {
  margin-left: 10px;
  padding-right: 8px;
}
.navbar__down {
  display: flex;
  color: #FFF;
  padding: 10px;
}
.navbar__logo {
  margin-right: 20px;
}
.navbar__list {
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.navbar__list--icon {
  color: grey;
  font-size: 14px;
}

.jumbo {
  background-image: url("../img/bg-painter-home.jpg");
  padding: 0 15%;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
.jumbo__content {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jumbo__button {
  font-size: 16px;
  padding: 10px 25px;
  border: 1px solid black;
  margin-right: 20px;
  background-color: #000;
  color: #fff;
}
.jumbo__button--download {
  background-color: transparent;
  color: #000;
  border-width: 2px;
}
.jumbo__img-painter {
  width: 250px;
}
.jumbo__text {
  margin: 20px 0;
  font-size: 20px;
}
.jumbo__text-offer {
  margin: 20px 0;
  color: #c5156d;
  font-weight: bold;
  font-style: italic;
}
.jumbo__text-offer--label {
  font-weight: normal;
}

.paintings {
  padding: 0 15%;
  margin-bottom: 50px;
}
.paintings__title {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
}
.paintings__offers {
  display: flex;
}
.paintings__offer {
  width: 90%;
  float: left;
  margin: 0 2%;
  background-color: #fff;
}
.paintings__offer-image {
  width: 100%;
  height: 150px;
}
.paintings__text-info {
  padding: 15px 15px;
}
.paintings__text-info--label {
  color: #00b7ff;
  font-weight: bold;
}
.paintings__text-title {
  color: #000;
  font-weight: bold;
}
.paintings__text-text {
  font-size: 17px;
  text-align: left;
}
.paintings__text-link {
  color: #00b7ff;
  text-decoration: none;
}

.services {
  padding: 0 15%;
  height: 900px;
}
.services__info {
  float: left;
  width: 50%;
  height: 300px;
  color: #fff;
}
.services__info--purple {
  background-color: #4b0d7e;
  padding: 30px;
}
.services__info--relative {
  position: relative;
  background-image: url("../img/wacom-painter.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services__info--grey {
  background-color: #4d4d4d;
  padding: 30px;
}
.services__info--blue {
  background-color: #006ace;
  padding: 30px;
}
.services__info-img {
  width: 100%;
  height: 300px;
}
.services__info-img--img-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.services__info-title {
  font-size: 25px;
  margin: 15px 0;
  margin-top: 30px;
}
.services__info-content {
  font-size: 20px;
}
.services__info-button {
  display: block;
  margin: 25px 0;
  padding: 10px 25px;
  outline: none;
  background-color: #fff;
}

.footer__info {
  padding: 0 15%;
  height: 360px;
  background-color: #e7dada;
}
.footer__info-list {
  float: left;
  width: 25%;
}
.footer__list-item {
  list-style: none;
  margin: 50px 0;
}
.footer__list-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
  color: #000;
}
.footer__list-title:hover {
  cursor: text;
  text-decoration: none;
}
.footer__list-link {
  padding: 5px 0;
}
.footer__social-list {
  list-style: none;
  display: flex;
}
.footer__social-icon {
  font-size: 35px;
  padding-right: 20px;
}
.footer__social-icon--instagram {
  color: #E85E67;
}
.footer__social-icon--facebook {
  color: #395693;
}
.footer__social-icon--twitter {
  color: #1C9CEA;
}
.footer__social-icon--youtube {
  color: #F60002;
}
.footer__social-icon--pinterest {
  color: #B7081B;
}
.footer__social-icon--rss {
  color: #F6C500;
}
.footer__copyright {
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer__copyright-img {
  height: 50px;
  padding-left: 20px;
}
.footer__copyright-info {
  font-size: 14px;
}
.footer__copyright-link {
  margin: 0 10px;
  text-decoration: none;
  color: lightgrey;
}
.footer__copyright-text {
  color: lightgrey;
  margin: 0 10px;
}
